:root {
    /* Color styles */
    --primaire: rgba(248, 251, 255, 1);
    --secondaire: rgba(15, 40, 106, 1);
    --texte: rgba(4, 6, 10, 1);
    --boutons: rgba(255, 161, 68, 1);
    --important: rgba(229, 56, 68, 1);
    --bleu10: rgba(225, 230, 240, 1);
    --bleu20: rgba(201, 209, 225, 1);
    --bleu30: rgba(178, 188, 210, 1);
    --bleu40: rgba(148, 158, 185, 1);
    --bleu50: rgba(126, 138, 172, 1);
    --bleu60: rgba(104, 119, 159, 1);
    --bleu75: rgba(70, 89, 139, 1);
    --bleu80: rgba(59, 79, 132, 1);
    --bleu90: rgba(37, 60, 119, 1);
    --vert: rgba(8, 173, 54, 1);
    --orange50: rgba(242, 194, 148, 1);
    --jaune: rgba(241, 203, 2, 1);
    --orange-90: rgba(252, 168, 85, 1);

    /* Text-size styles */
    /* base size: body-1--mobile (16px) */
    --h1--mobile: 3.12rem;
    --h2--mobile: 1.38rem;
    --h3--mobile: 1.06rem;
    --h4--mobile: 0.94rem;
    --body-1--mobile: 1rem;
    --body-2--mobile: 0.88rem;
    --body-3--mobile: 0.88rem;
    --bold-text--mobile: 0.88rem;
    --bouton-1--mobile: 1.62rem;
    --bouton--mobile-2: 1.25rem;
    --footer-title--mobile: 0.69rem;
    --footer-body--mobile: 0.56rem;

    /* Text-font styles */
    --h1:
}